:root {
    --blue: #87CEEB;
    --dark-color: #6495ED;
    --black: #444;
    --light-color: #666;
    --border: 1rem solid rgba(0,0,0,.1);
    --border-hover:1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

.header .header-1 {
    display: flex;
    background: #fff;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem 3%;
}

.header .header-1 .logo-details {
    display: flex;
}

.header .header-1 .logo-details p {
    padding: 15px 10px;
}

.header .header-1 .logo {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.header .header-1 p {
    font-size: 2rem;
    color: darkblue;
}

.header .header-1 .icons img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 1.5rem;
}

.header .header-1 .icons i {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .header-1 .icons i:hover {
    color: rgb(231, 149, 25);
}

.header .header-2 {
    width: 100%;
    background: var(--blue);
    transition: .3s linear;
}

.header .header-2 .navbar {
    text-align: center;
}
.header .header-2 .navbar a {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    padding: 2rem;
}

.header .header-2 .navbar a:hover {
    background-color: var(--dark-color);
}

.header .header-2.fixed {
    background-color: #3b80f9;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.header .borrow-book {
    display: none;
    position: absolute;
    top: 12%;
    right: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    width: 30rem;
    background: #fff;
}

.header .borrow-book.active {
    display: block;
    transition: .4s linear;
    z-index: 10;
}

.header .borrow-book .book-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .borrow-book .book-box img {
    height: 4rem;
}

.header .borrow-book .book-box .trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    color: #666;
    transform: translateY(-50%);
    cursor: pointer;
 }

 .header .borrow-book .book-box .trash:hover {
    color: #ff523b;
 }

 .header .borrow-book .book-box .book-content h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
 }

 .header .borrow-book .book-box .book-content .quantity {
    color: var(--black);
    font-size: 1.6rem;
 }
 .header .borrow-book .borrow-btn {
    margin-top: 1rem;
    display: block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 1rem 0;
    transition: .2s linear;
 }

 .header .borrow-book .borrow-btn:hover {
    background: var(--blue);
 }

 .header .borrow-book .view-btn {
    margin-top: 1rem;
    display: block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    text-align: center;
    margin: 1rem 0;
    transition: .2s linear;
 }

.header .borrow-book .view-btn:hover {
    background: var(--blue);
 }

header .notifications_dd {
    position: absolute;
    display: none;
    top: 68px;
    right: 140px;
    background: #fff;
    width: 350px;
    height: auto;
    border: 1px solid #c7d8e2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .125), -10px -10px 30px rgba(0, 0, 0, .125);
    z-index: 10;
 }

header .notifications_dd::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 2px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
 }

 header .notifications_dd.active {
    display: block;
 }

header .notifications_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

header .notifications_dd li:last-child {
    border-bottom: 0;
}
header .notifications_dd li .notify_icon {
    display: flex;
}
header .notifications_dd li .notify_icon .icon {
    background: url('../Pictures/profile.jpg') no-repeat 0 0;
    width: 40px;
    height: 42px;
    background-position: center;
    background-size: cover;
}
header .notifications_dd li .notify_data {
    margin: 0 15px;
    width: 185px;
}
header .notifications_dd li .notify_data .title {
    color: #000;
    font-weight: 600;
    font-size: 15px;
}
header .notifications_dd li .notify_data .sub_title {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}
header .notifications_dd li .notify_status a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: .2s linear;
}
header .notifications_dd li .notify_status a:hover {
    color: #6495ED;
}

header .notifications_dd li.show_all {
    padding: 20px;
    display: flex;
    justify-content: center;
}
header .notifications_dd li.show_all a {
    font-weight: 700;
    color: #3b80f9;
    cursor: pointer;
    font-size: 12px;
}
header .notifications_dd li.show_all a:hover {
    text-decoration: underline;
}
/* -------------------------- END OF HEADER -------------------------- */


@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }
    
    .header .header-2 {
        display: none;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:768px) {

    .bottom-navbar {
        display: inline-block;
    }
}

/* -------------------------- END OF MEDIA QUERY ----------------------- */

.bottom-navbar {
    text-align: center;
    background-color: var(--blue);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    padding: 2rem;
    font-size: 2.5rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background-color: var(--dark-color);
}

/* ------------------------------- END OF BOTTOM-NAVBAR -------------------------------- */

section {
    padding: 5rem 9%;
}

@media(max-width:991px) {
    section {
        padding: 3rem 2rem;
    }
}

.home {
    background: url(../Pictures/background.jpg);
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem;
}

.home .row .content .btn {
    margin-left: 10px;
    padding: 12px 20px;
    background: var(--blue);
    color: var(--light-color);
}

.home .row .books-list {
    flex: 1 1 42rem;
    margin-top: 2rem;
    text-align: center;
}

.home .row .books-list a img {
    height: 15rem;
}

.home .row .books-list a:hover img {
    transform: scale(0.9);
}

/* ------------------------------- END OF ROW-------------------------------- */
.books-section {
    padding: 25px 25px;
}
.books-section .book-sections-container {
    margin-top: 20px;
}
.books-section .section_title {
    font-size: 2.2rem;
}

.books-section a {
    text-decoration: none;
    color: black;
}

.books-section .book-title {
    color: #363d3f;
    font-size: 1.8rem;
    margin-bottom: .5rem;
}

.books-section .book-author {
    color: rgb(80, 77, 77);
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: .75rem;
}

.books-section .book-stars {
    color: yellow;
    font-size: 12px;
}

.books-section .book-card {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    background-color: hsl(230, 100%, 97%);
    padding: 1.5rem 1rem;
    border: 2px solid hsl(230, 50%, 90%);
    transition: border .4s, background-color .4s;
}

.books-section .book-card:hover {
    border: 2px solid hsl(230, 16%, 45%);
}

.book-img {
    width: 100px;
}

/* ------------------------------- END OF BOOK-SECTION-------------------------------- */

.feature {
    padding: 0 25px 25px 25px;
}
.middle-text h2 {
    font-size: 2.2rem;
    color: #0f172a;
    font-weight: 600;
}

.middle-text span {
    color: #6b7280;
}

.feature-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2px;
}

.feature-content .row {
    padding: 40px 30px;
    background-color: #FFE9C5;
    border-radius: 20px;
    transition: all .45s ease;
}

.feature-content .main-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.feature-content .row-img img {
    width: 170px;
    height: 150px;
    max-width: 300px;
}

.feature-content .row-text h6 {
    font-size: 13px;
    font-weight: 500;
    color: #331455;
    margin-bottom: 1rem;
}

.feature-content .row-text h3 {
    margin-bottom: 3rem;
    font-size: 26px;
    font-weight: 600;
}

.feature-content .row-btn {
    display: inline-block;
    padding: 12px 22px;
    background: #ffffff;
    color: #0f172a;
    font-size: 15px;
    border-radius: 30px;
    transition: all .45s ease;
}

.feature-content .row-btn:hover {
    letter-spacing: 1px;
    color: #ffffff;
    background: #0f172a;
}

.feature-content .row2 {
    background: #5cc9fb;
}

.feature-content .row3 {
    background: #D0D0D0;
}

.feature-content .row:hover {
    transform: translateY(-5px);
}
