:root {
    --blue: #87CEEB;
    --dark-color: #6495ED;
    --black: #444;
    --light-color: #666;
    --border: 1rem solid rgba(0,0,0,.1);
    --border-hover:1rem solid var(--black);
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);
}

* {
    font-family: Robotics;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}

.header .header-1 {
    display: flex;
    background: #fff;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem 3%;
}

.header .header-1 .logo-details {
    display: flex;
}

.header .header-1 .logo-details p {
    padding: 15px 10px;
}

.header .header-1 .logo {
    width: 55px;
    height: 55px;
    border-radius: 10px;
}

.header .header-1 p {
    font-size: 2rem;
    color: darkblue;
}

.header .header-1 .icons img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 1.5rem;
}

.header .header-1 .icons i {
    font-size: 2.5rem;
    color: var(--black);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .header-1 .icons i:hover {
    color: rgb(231, 149, 25);
}

.header .header-2 {
    background: var(--blue);
}

.header .header-2 .navbar {
    text-align: center;
}
.header .header-2 .navbar a {
    display: inline-block;
    font-size: 1.2rem;
    color: #fff;
    padding: 2rem;
}

.header .header-2 .navbar a:hover {
    background-color: var(--dark-color);
}
/* -------------------------- END OF HEADER -------------------------- */


@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }
}

@media(max-width:768px) {
    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }
    
    .header .header-2 {
        display: none;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }
}

@media (max-width:768px) {

    .bottom-navbar {
        display: inline-block;
    }
}

/* -------------------------- END OF MEDIA QUERY ----------------------- */

.bottom-navbar {
    text-align: center;
    background-color: var(--blue);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    padding: 2rem;
    font-size: 2.5rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background-color: var(--dark-color);
}

/* ------------------------------- END OF BOTTOM-NAVBAR -------------------------------- */

section {
    padding: 5rem 9%;
}

@media(max-width:991px) {
    section {
        padding: 3rem 2rem;
    }
}

.home {
    background: url(/Pictures/background.jpg);
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem;
}

.home .row .content .btn {
    margin-left: 10px;
    padding: 12px 20px;
    background: var(--blue);
    color: var(--light-color);
}

.home .row .books-list {
    flex: 1 1 42rem;
    margin-top: 2rem;
    text-align: center;
}

.home .row .books-list a img {
    height: 15rem;
}

.home .row .books-list a:hover img {
    transform: scale(0.9);
}