* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.sidebar ul li {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.sidebar ul li:hover {
    background: yellow;
}
.sidebar ul li:first-child {
    line-height: 60px;
    margin-bottom: 20px;
    font-weight: 600;
    border-bottom: 1px solid #000;
    margin-top: none;
}
.sidebar ul li:first-child:hover {
    background: none;
}

.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #000;
    height: 60px;
    display: flex;
    align-items: center;
}
.sidebar ul li a img {
    width: 60px;
    height: 60px;
    text-align: center;
}
.sidebar .title {
    padding: 0 10px;
    font-size: 20px;
}
/* ================================== END OF SIDEBAR ================================= */

.main {
    position: absolute;
    width: calc(100% - 300px);
    height: 100vh;
    left: 300px;
}
.top-bar {
    position: fixed;
    height: 60px;
    width: calc(100% - 300px);
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.top-bar span {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

/* ================================== END OF TOPBAR + MAIN ================================= */

.cards {
    margin-top: 60px;
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.cards .card {
    background: blue;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) ;
}

.number {
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}

.card-name {
    color: #e6e6e6;
    font-weight: 600;
}

.icon-box span{
    font-size: 45px;
    color: #ffffff;
}

/* ================================== END OF CARDS ================================= */

.tables {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}

.img-box-small {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.expected-students .visiting {
    height: 350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
}

.btn {
    padding: 5px 10px;
    background: blue;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead td {
    font-weight: 600;
    color: #333;
}
table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
tbody tr:hover {
    background: #444;
    color: #fff;
}
table tbody tr:last-child {
    border-bottom: none;
    
}
td {
    padding: 9px 5px;
}

td span {
    padding: 7px;
    border-radius: 50%;
}