* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.full-screen-container {
    background-image: url(/Pictures/library-login.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: rgba(22, 18, 18, .7);
    box-shadow: 0 0 15px 0 rgba(22, 18, 18, .7);
    padding: 40px 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px;
}

.login-title {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.input-group label {
    color: white;
    font-weight: lighter;
}

.input-group input {
    font-size: 1.25rem;
    padding: .5em;
    background-color: rgba(138, 123, 123, 0.3);
    border: none;
    outline: none;
    border-radius: .25em;
    color: white;
    font-weight: lighter;
}

.input-group input:focus {
    box-shadow: 0 0 0 1px rgb(138, 123, 123);
}

.login-button {
    padding: .5em 1em;
    font-size: 1.5rem;
    font-weight: lighter;
    color: white;
    background-color: rgba(81, 201, 238, 0.25);
    border: 1px solid rgb(81, 201, 238);
    border-radius: .25em;
    outline: none;
    cursor: pointer;
}

.login-button:hover,
.login-button:focus {
    background-color: rgba(81, 201, 238, 0.4);
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}
a:hover {
    color: rgb(255, 228, 228);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}