.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    background: var(#fff);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    transition: all 0.4s ease;
    border-radius: 25px;
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: rgb(211, 143, 103);
}

.cardBox .card .cardName {
    color: #222;
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
    color: #222;
}

.cardBox .card:hover {
    top: -5px;
}

/* ------------------------- END OF CARD BOX ------------------------------- */
.board {
    width: 94%;
    margin: 30px 0 30px 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.board .title {
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    color: rgb(94, 87, 87);
    border-bottom: #eef0f3;
}

.board .table-wrap {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 20%;
    margin-right: 15px;
}

.board p {
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.board .profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #F9FAFB;
    text-align: start;
    padding: 15px;
}

tbody tr td {
    padding: 10px 15px;
}

.active p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.status p {
    background-color: #fad7d7;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.board .staus, .board .active {
    text-align: center;
}
.data-buttons button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px;
}

.board .more {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board .more a {
    margin-top: 20px;
    font-size: 12px;
    text-decoration: none;
    color: #2b2b2b;
    transition: .2s linear;
    margin-bottom: 20px;
}
.board .more a:hover {
    color: rgb(0, 148, 153);
}
/* ----------------------------------------- END OF TABLE ------------------------------ */