.table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
}

.board .table-wrap .table_header .title {
    font-size: 20px;
    color: #000000;
}

.table_header div button {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.table_header div .add_new {
    padding: 5px 15px;
    color: #fff;
    background-color: #0298cf;
}

.table_header div input {
    padding: 5px 15px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
}

.table_header div input::placeholder {
    font-size: 12px;
}

.board {
    width: 98%;
    margin: 5px 0 0 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.board .title {
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    color: rgb(94, 87, 87);
    border-bottom: #eef0f3;
}

.board .table-wrap {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 20%;
    margin-right: 15px;
}

.board p {
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

.board .profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #eef0f3;
}

thead td {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #F9FAFB;
    text-align: start;
    padding: 15px;
    white-space: nowrap;
    overflow: hidden; 
}

tbody tr td {
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
}

.active p {
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.status p {
    background-color: #fad7d7;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.board .staus, .board .active {
    text-align: center;
}

.remark-btn {
    background: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.remark-btn i {
    font-size: 20px;
}

/* ----------------------------------------- END OF TABLE ------------------------------ */

.remark-container {
    width: 800px;
    height: 500px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #2b2b2b;
    position: fixed;
    top: 15%;
    right: 20%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.remark-container.show {
    opacity: 1;
    transform: translateY(0);
}

.remark-container .title {
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid #787d8d;
    padding: 0 15px;
    margin: 15px 0;
    font-weight: 500;
}

.remark-container .success-container .title {
    color: rgb(16, 139, 16);
}

.remark-container .failure-container .title {
    color: rgb(139, 16, 16);
}

.remark-container .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.remark-container .content .container-grid h4{
    font-weight: 500;
}

.remark-container .content .container-grid .button-details {
    position: relative;
    display: flex;
    gap: 15px;
    margin-top: 25px;
    left: 65px;
}

.remark-container .content .container-grid .button-details .check {
    margin-left: 15px;
    color: green;
}

.remark-container .content .container-grid .button-details .x{
    color: red;
}
.remark-container .content .container-grid .button-details button{
    background: none;
    border: none;
    cursor: pointer;
}

.remark-container .content .container-grid .button-details button i {
    font-size: 25px;
}


.remark-container .content .container-grid .user-details {
    display: flex;
    align-items: center;

}

.remark-container .content .container-grid .user-details img {
    width: 80px;
    height: 80px;
    margin: 0;
}

.remark-container .content .container-grid .user-details p {
    margin-left: 5px;
    font-size: 15px;
}

.searchInput {
    width: 200px;
    padding: 2px;
    font-size: 16px;
    border: 2px solid #282a2c;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    margin-left: 15px;
}

.searchInput:focus {
    outline: none;
    border-color: #55595c;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    background: none;
}

.ui-menu-item {
    padding: 8px 12px;
    cursor: pointer;
    display: block;
}

.ui-autocomplete::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.remark-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.remark-container .content p {
    font-size: 18px;
    color: black;
    margin-left: 15px;
}



/* ---------------------------------------- END OF REMARK MODAL --------------------- */

.custom-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5f6366;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    z-index: 9999;
  }
  
.custom-toast i {
    margin-right: 10px;
}

.custom-toast p {
    margin: 0;
    color: #fff;
}

.custom-toast.success {
    background-color: #4caf50;
}

.custom-toast.failed {
    background-color: #b83f3f;
}

/* ---------------------------- END OF TOAST --------------------------- */