main .container {
    display: flex;
    flex-direction: column;
}

main .title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    color: white;
    text-shadow: 1px 1px black;
}
main .title .text-center {
    font-weight: 500;
    margin-bottom: 5px;
}

.small-container {
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    max-height: 700px;
    overflow-y: scroll;
}

.cart-page {
    margin: 20px 0;
}
  
table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #ffffff;
    font-weight: normal;
    font-weight: 600;
}
thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #6495ED;
}

td {
    padding: 10px 5px;
    background: #ffffff;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.retrieval-btn {
    width: 25px;
    height: 25px;
    background-color: dimgrey;
    border: none;
    cursor: pointer;
    color: white;
}

.retrieval-btn i {
    font-size: 15px;
}

.retrieval-btn:hover {
    background-color: rgb(65, 65, 65);
}

.small-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.all-button-data {
    width: 100%;
}

.all-button-data .all-button {
    float: right;
    margin-right: 30px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6495ED;
    color: white;
    border: none;
}

.all-button-data .all-button:hover {
    background-color: #64afed;
}

/* ---------------------------------- END OF TABLE ----------------------- */

.custom-toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5f6366;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    z-index: 9999;
  }
  
.custom-toast i {
    margin-right: 10px;
}

.custom-toast p {
    margin: 0;
}

.custom-toast.success {
    background-color: #4caf50;
}

.custom-toast.failed {
    background-color: #b83f3f;
}