
.books-registration {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 20px;
}
.BookInfo input {
    border: 1px solid black;
    border-radius: 6px;
    height: 35px;
    width: 300px;
}
.BookInfo {
    margin-top: 10px;
}
.buttons {
    text-align: center;
    margin-top: 50px;
}
#addBtn {
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 30px;
    margin-right: 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#addBtn:hover {
    color: white;
    background-color: rgb(38, 81, 199);
}
#clearBtn {
    background-color: transparent;
    border: 2px solid black;
    padding: 15px 30px;
    cursor: pointer;
    transition-duration: 0.5s;
}
#clearBtn:hover {
    color: white;
    background-color: red;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid black;
}
.table-header p {
    font-size: 20px;
    font-weight: bold;
}
.table-header div input {
    padding: 10px 20px;
    margin: 0 10px;
    outline: none;
    border: 1px solid #0298cf;
    border-radius: 6px;
}
.table-header div button {
    color: black;
    border: none;
    border-radius: 6px;
    background-color: rgb(0, 247, 0);
    padding: 10px 30px;
}
#bookTable {
    width: 100%;
    overflow: auto;
}
#bookTable table {
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}
#bookTable thead th {
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}
#bookTable th, td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}
#bookTable button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    padding: 10px;
}
#bookTable td button:nth-child(1) {
    background-color: #0298cf;
}
#bookTable td button:nth-child(2) {
    background-color: #f80000;
}

/*---------------------------------- END OF BOOK TABLE ----------------------------------*/

