* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Robotics;
}
body {
    overflow-x: hidden;
}
.container {
    position: relative;
    width: 100%;
}
.sidebar {
    position: fixed;
    width: 78px;
    height: 100%;
    background-color:rgb(192, 64, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 99;
    transition: all .5s ease;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo_details {
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo_details img {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo_details img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
}

.sidebar .logo_details .logo_name {
    font-size: 22px;
    font-weight: 600;
    opacity: 0;
}

.sidebar.open .logo_details img,
.sidebar.open .logo_details .logo_name {
    opacity: 1;
}

.sidebar .logo_details #btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}

.sidebar.open .logo_details #btn {
    text-align: right;
}
.sidebar i{
    color: white;
    height: 60px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
    margin-left: 10px;
}

.sidebar.open i {
    text-align: center;
    margin-left: 10px;
}

.sidebar .nav-list {
    margin-top: 20px;
}
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -5px;
    left: 80px;
    left: calc(100% +15px);
    z-index: 3;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li .icon-link a {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    position: relative;
    transition: all .5s ease;
    z-index: 12;
}

.sidebar li .icon-link a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    background-color:rgb(252, 245, 229);
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    transform-origin: left;
    z-index: -2;
}

.sidebar li .icon-link a:hover:after {
    transform: scaleX(1);
    color: white;
}

.sidebar li .icon-link .link_name {
    color: white;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: auto;
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}

.sidebar li .icon-link .drop-down {
    display: none;
}

.sidebar.open li .icon-link .drop-down {
    display: block;
    top: 2px;
    left: 190px;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 18px;
    white-space: nowrap;
    transition: all 0.4s ease;
    pointer-events: auto;
    cursor: pointer;
    z-index: 20;
}

.sidebar li .icon-link a:hover .link_name, 
.sidebar li .icon-link a:hover i {
    transition: all 0.5s ease;
    color: rgb(94, 87, 87);
}

.sidebar.open li .icon-link .link_name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar li i {
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    border-radius: 5px;
}

.sidebar.open .nav-list li .sub-menu {
    display: none;
}

.sidebar .nav-list li .sub-menu a,
.sidebar .nav-list li .sub-menu p {
    color: black;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6s;
    transition: all 0.3s ease;
}
.sidebar .nav-list li .sub-menu a:hover {
    color: rgb(150, 150, 150);
    opacity: 1;
}

.sidebar .nav-list li .sub-menu {
    background-color: white;
}

.sidebar.open .nav-list li .sub-menu {
    background-color: rgb(206, 83, 2);
    margin-top: 0px;
    padding: 6px 6px 14px 60px;
    z-index: 20;
    pointer-events: none;
}

.sidebar.open .nav-list li .sub-menu a {
    color: white;
    font-size: 15px;
    padding: 5px 0;
}

.sidebar.open .nav-list li.showMenu .sub-menu {
    position: relative;
    display: block;
    left: 0;
    opacity: 1;
    top: 0;
    box-shadow: none;
    transition: none;
}

.sidebar.open .nav-list li .sub-menu .link_name {
    display: none;
}

.sidebar .nav-list li .sub-menu {
   position: absolute;
   left: 100%;
   top: -10px;
   margin-top: 0;
   padding: 10px 20px;
   border-radius: 0 6px 6px 0;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
   opacity: 0;
   pointer-events: none;
   transition: all 0.5s ease;
}

.sidebar .nav-list li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.sidebar .nav-list li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
} 

.sidebar .nav-list li a {
   text-decoration: none;
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0;
    width: 250px;
    height: 75px;
    transition: all 0.4s ease;
}

.sidebar.open .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile_content {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 12px;
    background: rgb(201, 111, 47);
    padding: 5px;
}
.sidebar .profile-details .name-job {
    margin-bottom: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .profile_status {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
}
.sidebar .profile-details .profile_status {
    font-size: 12px;
}

.sidebar.open .profile-details i,
.sidebar.open .profile-details .profile_name,
.sidebar.open .profile-details .profile_status {
    display: block;
}

.sidebar .profile-details i,
.sidebar .profile-details .profile_name,
.sidebar .profile-details .profile_status {
    display: none;
}
.sidebar .profile-details i {
    margin-left: 0;
    margin-bottom: 15px;
    cursor: pointer;
}

/* --------------------------------------- END OF SIDEBAR ----------------------------------- */

.main {
    position: relative;
    width: calc(100% - 78px);
    height: 100vh;
    left: 78px;
    transition: all 0.5s ease;
}

.sidebar.open ~ .main {
    left: 250px;
    width: calc(100% - 250px);
}
.top-bar {
    position: relative;
    height: 60px;
    padding: 0 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}
.top-bar span {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
.top-bar .top-title {
    position: absolute;
    top: 20px;
    font-size: 20px;
    font-weight: 800;
}

/* ----------------------------------------- END OF TOPBAR + MAIN ------------------------------ */
