* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../Pictures/library.jpg);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 7%;
}
nav .logo {
    display: flex;
    align-items: center;
}
nav .logo img {
    width: 50px;
    border-radius: 20%;
}
nav .logo a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 0 5px;
    font-size: 25px;
}
.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 15px;
}
.nav-links li a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.signin-btn {
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all .2s ease-in-out;
}

.signin-btn:hover {
    background-color: #dbdbdb;
    padding: 8px 22px;
}
.container {
    padding: 0 7%;
}
.header h1 {
    font-size: 4vw;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 18%;
}

.mobile-menu {
    display: none; /* Hide by default */
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}
.mobile-menu span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px;
}

/* -----------------------------------------END OF NAV ------------------------------------- */

.slide-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.slide-container .slide .item {
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide-container .slide .item:nth-child(1),
.slide-container .slide .item:nth-child(2)
{
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide-container .slide .item:nth-child(3) {
    left: 50%;
}
.slide-container .slide .item:nth-child(4) {
    left: calc(50% + 220px);
}
.slide-container .slide .item:nth-child(5) {
    left: calc(50% + 440px);
}

.slide-container .slide .item:nth-child(n + 6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .slide-content {
    overflow-y: hidden;
    position: absolute;
    top: 30%;
    left: 10%;
    width: 380px;
    height: 150px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0, -50%);
    display: none;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    height: 200px;
    animation: showcontent 1s ease-in-out 1 forwards;
}

.item:nth-child(2) .slide-content {
    display: block;
}

.item .name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
}
.item .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}
.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    cursor: pointer;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards;
}

.item button:hover {
    background-color: #999;
}

@keyframes showcontent {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
  
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.buttons {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}
.buttons button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.buttons button:hover {
    background: #ababab;
    color: #fff;
}

/* ----------------------------------------- END OF SCHOOL AREAS ------------------------------------- */
.sub-title {
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.areas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.areas div img{
    width: 200px;
    height: 120px;
    border-radius: 10px;
}
.areas div {
    position: relative;
}
.areas div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
/* ----------------------------------------- END OF AREAS ------------------------------------- */
.featured-books {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.featured-books h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}
.featured-books .featured-books-box {
    width: 95%;
    height: 65vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}
.featured-books .featured-books-box .featured-books-card {
    width: 250px;
    height: 400px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}
.featured-books .featured-books-box .featured-books-card:hover {
    box-shadow: 0 0 5px #089da1;
}
.featured-books .featured-books-box .featured-books-card .featured-books-img img{
    width: 150px;
}
.featured-books .featured-books-box .featured-books-card .featured-books-tag {
    height: 180px;
    overflow: hidden;
}
.featured-books .featured-books-box .featured-books-card .featured-books-tag .author {
    color: #919191;
}
.featured-books .featured-books-box .featured-books-card .featured-books-tag .categories {
    color: #089da1;
    margin-top: 10px;
    margin-bottom: 20px;
}
.featured-books .featured-books-box .featured-books-card .featured-books-tag .f_btn {
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: black; 
}
/* ----------------------------------------- END OF BOOKS ------------------------------------- */


.console-games {
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.console-games h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}

.console-games .console-games-box {
    width: 95%;
    height: 65vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.console-games .console-games-box .console-games-card .console-games-tag {
    height: 180px;
    overflow: hidden;
}


.console-games .console-games-box .console-games-card {
    width: 250px;
    height: 400px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}
.console-games .console-games-box .console-games-card:hover {
    box-shadow: 0 0 5px #089da1;
}

.console-games .console-games-box .console-games-card .console-games-img img {
    width: 150px;
}
.console-games .console-games-box .console-games-card .console-games-tag h2 {
    margin: 12px;
}

.console-games .console-games-box .console-games-card .console-games-tag .creator {
    color: #919191;
}

.console-games .console-games-box .console-games-card .console-games-tag .categories {
    color: #089da1;
    margin-top: 10px;
    margin-bottom: 20px;
}
.console-games .console-games-box .console-games-card .console-games-tag .f_btn {
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: black; 
}   

.console-games::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}
.console-games::-webkit-scrollbar-thumb {
    background: #089da1;
    border-radius: 10px;
}
/* -----------------------------------------END OF CONSOLE GAMES------------------------------------- */

.cta {
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(Entrance.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3 {
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p {
    font-size: 18px;
    margin: 10px 0;
}
.cta-btn {
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}
/* -----------------------------------------END OF CTA------------------------------------- */

.about-msg {
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-msg h2 {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}

/* -----------------------------------------END OF ABOUT US------------------------------------- */

.footer {
    margin: 80px 0 10px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 5px;
}
.footer hr {
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p {
    padding-bottom: 15px;
}

/* -----------------------------------------END OF FOOTER------------------------------------- */


@media screen and (max-width: 768px) {

    .header {
        min-height: 300px; /* Adjust height */
    }

    .header h1 {
        font-size: 25px; /* Adjust font size */
    }

    nav {
        padding: 15px 5%; /* Reduce padding */
    }
    nav .logo img {
        width: 40px; /* Decrease logo size */
    }
    nav .logo a {
        font-size: 12px; /* Decrease font size */
    }
    .nav-links {
        display: none;
    }
    .nav-links li {
        margin: 10px 10px; /* Adjust margin */
    }
    .nav-links li a {
        font-size: 8px; /* Decrease font size */
    }
    .signin-btn {
        padding: 8px 16px; /* Adjust padding */
        font-size: 10px; /* Decrease font size */
    }

    .container {
        padding: 0 5%; /* Adjust padding */
    }

    .slide-container {
        width: 100%; /* Adjust width */
        height: 400px; /* Adjust height */
        padding: 20px; /* Adjust padding */
    }

    .slide-container .slide .item {
        width: 150px; /* Adjust width */
        height: 200px; /* Adjust height */
        transform: translate(0, -10%);
    }

    .slide-container .slide .item:nth-child(n + 6) {
        display: block; /* Hide additional items */
    }

    .item .slide-content {
        width: 300px; /* Adjust width */
        height: auto; /* Adjust height */
        top:5px;
        left: 20px;
    }

    .item .name {
        font-size: 15px; /* Adjust font size */
    }

    .buttons {
        display: flex;
        align-items: center;
        bottom: 10px; /* Adjust position */
    }

    .buttons button {
        width: 30px; /* Adjust width */
        height: 30px; /* Adjust height */
        font-size: 12px; /* Adjust font size */
    }

    .sub-title {
        font-size: 16px; /* Adjust font size */
    }

    .areas {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .areas div img {
        width: 100%;
    }

    .featured-books h1 {
        font-size: 25px; /* Adjust font size */
    }

    .featured-books .featured-books-box .featured-books-card {
        width: 200px; /* Adjust width */
        height: 400px; /* Adjust height */
        margin: auto 10px; /* Adjust margin */
    }

    .featured-books .featured-books-box .featured-books-card .featured-books-tag {
        font-size: 12px;
    }

    .console-games h1 {
        font-size: 20px; /* Adjust font size */
    }

    .console-games .console-games-box .console-games-card {
        width: 200px; /* Adjust width */
        height: 400px; /* Adjust height */
        margin: auto 10px; /* Adjust margin */
    }

    .console-games .console-games-box .console-games-card .console-games-tag {
        font-size: 12px;
    }

    .cta {
        margin: 0;
    }

    .cta h3 {
        font-size: 20px; /* Adjust font size */
    }

    .cta p {
        font-size: 12px; /* Adjust font size */
    }

    .cta-btn {
        padding: 10px 20px; /* Adjust padding */
        font-size: 14px; /* Adjust font size */
    }

    .about-msg h2 {
        font-size: 24px; /* Adjust font size */
    }

    .footer {
        margin: 50px 0 10px; /* Adjust margin */
    }

    .footer a {
        font-size: 18px; /* Adjust font size */
    }

    .footer hr {
        margin: 15px 0; /* Adjust margin */
    }

    .footer p {
        padding-bottom: 10px; /* Adjust padding */
    }
}
